.basic-info-col{
  margin-bottom: 20px;
  span{
    display: inline-block;
    text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本*/
    overflow: hidden;
    white-space: nowrap;/*不换行 控制单行文本*/
    &:first-child{
      width: 35%;
      text-align: right;
      margin-right: 1%;
    }
    &:last-child{
      width: 64%;
      text-align: left;
    }
    .tool-tip {
      position: absolute;
      top: 0;
      left: 36%;
    }  
  }

}
